@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next, .swiper-button-prev {
    --swiper-navigation-size: 1em;
    --swiper-navigation-color: white;
    --swiper-navigation-sides-offset: 0px;
    font-size: 16px;
    padding: 1em;
    background: #daa24e;
    border-radius: 50%;
    color: white;
    transform: translateY(-30%);
}

@media (min-width: 768px) {
    .swiper-button-next, .swiper-button-prev {
        font-size: 24px;
    }
}